.review-container {
  margin: 20px;
  margin-top: 120px; /* Adjust this value based on the height of your navbar */
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.review-table {
  width: 100%;
  border-collapse: collapse;
}

.review-table th, 
.review-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.review-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.review-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.feedback-btn {
  background-color: #58d86a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.feedback-btn:hover {
  background-color: #9b59b6;
}

.feedback-btn.disabled-btn {
  background-color: #808080 !important; /* Force gray color */
  color: white;
  cursor: not-allowed;
}

.feedback-btn.disabled-btn:hover {
  background-color: #808080 !important; /* Maintain gray color on hover */
  color: white !important;
}

/* Popup styling */
.feedback-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.feedback-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2000; /* Higher z-index than notification */
    width: 400px;
    max-width: 80%;
}

.feedback-popup h2 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.review-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.review-form input,
.review-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.review-form button {
  width: 100%;
  padding: 10px;
  background-color: #58d86a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.review-form button:hover {
  background-color: #9b59b6;
}

.rating-selector {
  display: flex;
  justify-content: left;
  margin-bottom: 15px;
  gap: 0px;
}

.rating-selector span {
  cursor: pointer;
  font-size: 1.5rem;
  color: #ddd;
}

.rating-selector span.selected {
  color: #ffb400;
}
